@page "/image-receiver-server"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@implements IAsyncDisposable
@attribute [Authorize]
@using RobotMovementInput

<PageTitle>Live View Image</PageTitle>

<div class="container">
    <div clss="left-section">
        @if (_imageSrc == null)
        {
            <p><em>Waiting for image</em></p>
            <div class="spinner-wrapper">
                <div class="spinner-border" role="status"/>
            </div>
        }
        else
        {
            <!-- Depth Image -->
            <img src="@_imageSrc" alt="Depth Image" width="480" height="480"/>

            <!-- Joystick Section -->
            <table class="joystick-section" @ref="_keyboardInputHandler.keyboardInputRef" tabindex="0" @onkeydown="HandleKeyDown" @onkeyup="stopInputToRobot">
                <div class="joystick-container">
                    <div id="joystickContainer" @onpointerdown="OnPointerDown" @onpointermove="OnPointerMove" @onpointerup="OnPointerUp" @onpointercancel="OnPointerUp">
                        <div id="joystickKnob" style="left: @(_knobPositionX)px; top: @(_knobPositionY)px;" />
                    </div>
                </div>
            </table>
        }
    </div>

    <!-- Info Section on the Right Side -->
    <div class="right-section">
        <!-- Connection Status Section -->
        <div class="status-section">
            <h5>SignalR Hub</h5>
            @if (IsConnected)
            {
                <p style="color: green; font-weight: bold;">Connected</p>
            }
            else
            {
                <p style="color: red; font-weight: bold;">Disconnected</p>
            }
        </div>

        <!-- Data Status Section -->
        @if (_avgDistance == null || _measurements == null || _hubUser == null)
        {
            <p><em>Waiting for data</em></p>
            <div class="spinner-border" role="status"/>
        }
        else
        {
            <!-- User and Average Distance Section -->
            <div class="status-section">
                <div class="data-item">
                    <h5>User</h5>
                    <p style="color: magenta;">@_hubUser</p>
                </div>
                <div class="data-item">
                    <h5>Average Distance</h5>
                    <p style ="color: magenta;">@_avgDistance mm</p>
                </div>
            </div>

            <!-- Data Section -->
            <div class="data-section">
                <div class="data-item">
                    <h5>Acceleration X</h5>
                    <p style="color: forestgreen;">@_measurements[0]</p>
                </div>
                <div class="data-item">
                    <h5>Acceleration Y</h5>
                    <p style="color: forestgreen;">@_measurements[1]</p>
                </div>
                <div class="data-item">
                    <h5>Acceleration Z</h5>
                    <p style="color: forestgreen;">@_measurements[2]</p>
                </div>
                <div class="data-item">
                    <h5>Rotation X</h5>
                    <p style="color: royalblue;">@_measurements[3]</p>
                </div>
                <div class="data-item">
                    <h5>Rotation Y</h5>
                    <p style="color: royalblue;">@_measurements[4]</p>
                </div>
                <div class="data-item">
                    <h5>Rotation Z</h5>
                    <p style="color: royalblue;">@_measurements[5]</p>
                </div>
                <div class="data-item">
                    <h5>Temperature</h5>
                    <p style="color: orangered;">@_measurements[6]  °C</p>
                </div>
            </div>
            <div class="data-section">
                <div class="data-item">
                    <h5>
                        Key
                    </h5>
                    <p style="color: blueviolet;">
                        @_keyboardInputHandler.pressedKey
                    </p>
                </div>
                <div class="data-item">
                    <h5>
                        Joystick 
                    </h5>
                    <p style="color: blueviolet;">
                        @_joystickHandler.joystickDirection
                    </p>
                    <p style="color: darkgreen;">
                        X: @_knobPositionX | Y: @_knobPositionY
                    </p>
                </div>
                <div class="data-item">
                    <h5>
                        Motor
                    </h5>
                    @if (!_didIStoppedRobot)
                    {
                        <p style="color: green;">@_engineAValue | @_engineBValue</p>
                    }
                    else
                    { 
                        <p style="color: red; font-weight: bold;">STOP</p>
                    }
                </div>
            </div>
        }

    </div>
</div>


@code {
    private static int joystickCenterX = 275;
    private static int joystickCenterY = 275;
    private static int joystickRadius = 150;

    private JoystickInputHandler _joystickHandler = new JoystickInputHandler(joystickCenterX, joystickCenterY, joystickRadius);
    private CancellationTokenSource? _joystickCancellationTokenSource;

    private HubConnection? _hubConnection;
    private ushort? _avgDistance;
    private string? _hubUser;
    private double[]? _measurements;
    private string? _imageSrc;

    private keyboardInputHandler _keyboardInputHandler = new keyboardInputHandler();
    private ROBOT_DIRECITON _previousDir = ROBOT_DIRECITON.STOP;

    private int _engineAValue = 0;
    private int _engineBValue = 0;
    private int _knobPositionX = joystickCenterX - joystickRadius;
    private int _knobPositionY = joystickCenterY - joystickRadius;


    //Throttle
    private static DateTime _lastSaveTimeRobotInput = DateTime.MinValue;
    private static readonly TimeSpan ThrottleDurationSendRobotInput = TimeSpan.FromMilliseconds(250.0);

    //TODO, przerobic na stateMachine
    //szybkihack
    private bool _didIStoppedRobot = false;

    private async Task StartJoystickMessageLoop()
    {
        _joystickCancellationTokenSource?.Cancel();
        _joystickCancellationTokenSource = new CancellationTokenSource();
        var token = _joystickCancellationTokenSource.Token;

        try
        {
            while (!token.IsCancellationRequested)
            {
                if (_joystickHandler.validInput)
                {
                    sendInputToRobot(_joystickHandler.GetRobotEngineValues());
                    _joystickHandler.increaseCounter();
                }

                await InvokeAsync(StateHasChanged);
                await Task.Delay(10, token);
            }
        }
        catch (TaskCanceledException)
        {
            _joystickHandler.resetCounter();
        }
    }

    private void StopJoystickMessageLoop()
    {
        _joystickCancellationTokenSource?.Cancel();
    }

    // TODO: refactor, passthorugh, for implemeneting inner logic
    private void OnPointerDown(PointerEventArgs e)
    {
        _joystickHandler.OnPointerDown(e.ClientX, e.ClientY);
        _engineAValue = _joystickHandler.GetRobotEngineValues().Item1;
        _engineBValue = _joystickHandler.GetRobotEngineValues().Item2;

        _ = StartJoystickMessageLoop();
    }

    private void OnPointerMove(PointerEventArgs e)
    {
        _joystickHandler.OnPointerMove(e.ClientX, e.ClientY);
        _knobPositionX = (int)_joystickHandler.KnobPosX - joystickRadius;
        _knobPositionY = (int)_joystickHandler.KnobPosY - joystickRadius;
    }

    private void OnPointerUp(PointerEventArgs e)
    {
        _joystickHandler.OnPointerUp();
        // await stopInputToRobot();
        stopInputToRobot();

        StopJoystickMessageLoop();
    }


    private async void sendInputToRobot((int, int) engineValues)
    {
        // if (_didIStoppedRobot)
        // {
        //     return;
        // }
        // _didIStoppedRobot = false;

        if (IsConnected)
        {

            var currentTime = DateTime.Now;

            if ((currentTime - _lastSaveTimeRobotInput) <= ThrottleDurationSendRobotInput)
            {
                return;
            }
            _didIStoppedRobot = false;
            _lastSaveTimeRobotInput = currentTime;
            _engineAValue = engineValues.Item1;
            _engineBValue = engineValues.Item2;
            await _hubConnection.SendAsync("SendMovementCommand", "WebClient", engineValues.Item1, engineValues.Item2);
        }
    }

    // szybki hack, kiedys sie zrobi ladniej
    // private async Task stopInputToRobot()
    private async void stopInputToRobot()
    {
        _engineAValue = 0;
        _engineBValue = 0;
        // _didIStoppedRobot = true;

        if (IsConnected)
        {
            _lastSaveTimeRobotInput = DateTime.Now;
            _didIStoppedRobot = true;

            await _hubConnection.SendAsync("SendMovementCommand", "WebClient", 0, 0);
        }
        // await Task.Delay(1000);
        // _didIStoppedRobot = false;
    }


    private void HandleKeyDown(KeyboardEventArgs e)
    {

        _keyboardInputHandler.onKeyDown(e);
        _keyboardInputHandler.amIResetingCounter(_previousDir != _keyboardInputHandler.robotDir);
        _previousDir = _keyboardInputHandler.robotDir;

        _engineAValue = _keyboardInputHandler.GetRobotEngineValues().Item1;
        _engineBValue = _keyboardInputHandler.GetRobotEngineValues().Item2;

        if (_keyboardInputHandler.validInput)
        {
            if ((DateTime.Now - _lastSaveTimeRobotInput) <= ThrottleDurationSendRobotInput)
            {
                return;
            }

            sendInputToRobot(_keyboardInputHandler.GetRobotEngineValues());
        }
    }

    // private void HandleKeyUP(KeyboardEventArgs e)
    // {

    //     _keyboardInputHandler.onKeyUP(e);
    //     _keyboardInputHandler.amIResetingCounter(true);

    //     _engineAValue = _keyboardInputHandler.GetRobotEngineValues().Item1;
    //     _engineBValue = _keyboardInputHandler.GetRobotEngineValues().Item2;

    //     if (_keyboardInputHandler.validInput)
    //     {
    //         sendInputToRobot(_keyboardInputHandler.GetRobotEngineValues());
    //     }
    // }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _keyboardInputHandler.keyboardInputRef.FocusAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        //------------------------------------- DEBUG ---------------------------------------------------------------
        // _measurements = debugFunctions.GenerateTestMeasurements(2);
        // _avgDistance = 1530;
        // _hubUser = "TEST_USER";
        // _imageSrc = debugFunctions.GetExampleImage(); 
        //--------------------------------------------------------------------------------------------------------

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/signalhub"))
            .Build();

        _hubConnection.On<string, double[], string, ushort>("ReceiveBase64Frame", (user, measurements, base64Image, avgDistance) =>
        {
            _hubUser = user;
            _measurements = measurements;
            _avgDistance = avgDistance;
            _imageSrc = $"data:image/png;base64,{base64Image}";

            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }

    public bool IsConnected =>
        _hubConnection?.State == HubConnectionState.Connected;


    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}
