@page "/image-receiver-server"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@implements IAsyncDisposable

@using System.Text.Json

<PageTitle>Live View Image Server</PageTitle>

<div style="display: flex; justify-content: center; max-width: 1000px; margin: 0 auto; padding: 20px;">
    <!-- Depth Image on the Left Side -->
    <table @ref="keyboardInputRef" tabindex="0" @onkeydown="HandleKeyDown">
    <div style="flex: 1; max-width: 700px; margin-right: 20px;">
            @if (_imageSrc == null)
            {
                <p><em>Waiting for image ...</em></p>
            <div class=" justify-content-center align-items-center">
                <div class="spinner-border" role="status">
                </div>
            </div>
            }
            else
            {
                <img src="@_imageSrc" alt="Depth Image" width="640" height="640" />

            <thead>
                <tr>
                    <th>
                        Pressed Key
                    </th>
                    <th>
                        Counter
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                            @pressedKey
                    </td>
                    <td>
                            @counter
                    </td>
                </tr>
            </tbody>
            }

    </div>
    </table>


    <!-- Info Section on the Right Side -->
    <div style="flex: 1; display: flex; flex-direction: column; gap: 20px;">
        <!-- Connection Status Section -->
        <div style="display: flex; flex-wrap: wrap; gap: 20px; padding: 10px; background-color: #f5f5f5; border-radius: 8px;">
            <h5>SignalR Hub</h5>
            @if (IsConnected)
            {
                <p style="color: green; font-weight: bold;">Connected</p>
            }
            else
            {
                <p style="color: red; font-weight: bold;">Disconnected</p>
            }
        </div>

        <!-- Data Status Section -->
        @if (_avgDistance == null || _measurements == null || _hubUser == null)
        {
            <p><em>Waiting for data ...</em></p>
                <div class="spinner-border" role="status">
  
            </div>
        }
        else
        {
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <!-- User and Average Distance Section -->
                <div style="display: flex; flex-wrap: wrap; gap: 20px; padding: 10px; background-color: #f5f5f5; border-radius: 8px;">
                    <div style="flex: 1; min-width: 100px;">
                        <h5>User</h5>
                        <p>@_hubUser</p>
                    </div>
                    <div style="flex: 1; min-width: 100px;">
                        <h5>Average Distance</h5>
                        <p>@_avgDistance mm</p>
                    </div>
                </div>

                <!-- Data Section -->
                <div style="display: flex; flex-wrap: wrap; gap: 20px; padding: 10px; background-color: #e9e9e9; border-radius: 8px;">
                    <div style="flex: 1; min-width: 100px;">
                        <h5>Acceleration X</h5>
                        <p>@_measurements[0]</p>
                    </div>
                    <div style="flex: 1; min-width: 100px;">
                        <h5>Acceleration Y</h5>
                        <p>@_measurements[1]</p>
                    </div>
                    <div style="flex: 1; min-width: 100px;">
                        <h5>Acceleration Z</h5>
                        <p>@_measurements[2]</p>
                    </div>
                    <div style="flex: 1; min-width: 100px;">
                        <h5>Rotation X</h5>
                        <p>@_measurements[3]</p>
                    </div>
                    <div style="flex: 1; min-width: 100px;">
                        <h5>Rotation Y</h5>
                        <p>@_measurements[4]</p>
                    </div>
                    <div style="flex: 1; min-width: 100px;">
                        <h5>Rotation Z</h5>
                        <p>@_measurements[5]</p>
                    </div>
                    <div style="flex: 1; min-width: 100px;">
                        <h5>Temperature</h5>
                        <p>@_measurements[6] C</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@code {
    private HubConnection? _hubConnection;
    private ushort? _avgDistance;
    private string? _hubUser;
    private double[]? _measurements;
    private string? _imageSrc;


    //keyboardInputs
    //--------------------------------------------------------------------------------------------------
    private ElementReference keyboardInputRef;
    private string? pressedKey;
    private int counter = 0;
    private int previousDir = -1;

    public struct keyboardInputHandler
    {
        public string keyName;
        public int robotDir;
        public bool validInput;

        public keyboardInputHandler(KeyboardEventArgs e)
        {

            switch (e.Key)
            {
                case "ArrowUp":
                    keyName = "Up Arrow";
                    robotDir = 0;
                    validInput = true;
                    break;

                case "ArrowDown":
                    keyName = "Down Arrow";
                    robotDir = 1;
                    validInput = true;
                    break;

                case "ArrowLeft":
                    keyName = "Left Arrow";
                    robotDir = 2;
                    validInput = true;
                    break;

                case "ArrowRight":
                    keyName = "Right Arrow";
                    robotDir = 3;
                    validInput = true;
                    break;

                default:
                    keyName = "Wrong Button";
                    robotDir = -1;
                    validInput = false;
                    break;
            }
        }
    }

    //to jest przykladowy format jsona ktorego wyslemy robotowi
    public struct robotCommand
    {
        public string type { get; set; }
        public string target { get; set; }
        public int nextDirection { get; set; }

        public robotCommand(int nextDir)
        {
            type = "input";
            target = "movementController";
            nextDirection = nextDir;
        }

        public string toJson()
        {
            return System.Text.Json.JsonSerializer.Serialize(this);
        }

    }

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        keyboardInputHandler tmp = new keyboardInputHandler(e);
        pressedKey = tmp.keyName;
        if (previousDir != tmp.robotDir)
            counter = 0;


        if (tmp.validInput)
        {
            sendInputToRobot(new robotCommand(tmp.robotDir).toJson());
            counter++;


            previousDir = tmp.robotDir;
        }
    }


    private void sendInputToRobot(string jsonCommand)
    {
        //tutaj wydmuszka, funkcja dostaje jsona z komenda ktora trzeba wyslac robotowi
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await keyboardInputRef.FocusAsync();
        }
    }

    //---------------------------------------------------------------------------------------

    protected override async Task OnInitializedAsync()
    {

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/signalhub"))
            .Build();

        _hubConnection.On<string, double[], string, ushort>("ReceiveBase64Frame", (user, measurements, base64Image, avgDistance) =>
        {
            _hubUser = user;
            _measurements = measurements;
            _avgDistance = avgDistance;

            _imageSrc = $"data:image/png;base64,{base64Image}";

            InvokeAsync(StateHasChanged); 
        });

        await _hubConnection.StartAsync();
    }

    public bool IsConnected =>
        _hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }



}
