@page "/matrix-receiver-server"
@rendermode InteractiveServer
@implements IAsyncDisposable
@inject NavigationManager Navigation
@attribute [Authorize]
@using RobotMovementInput


<PageTitle>Live View Matrix</PageTitle>

<div class="container">
    <div clss="left-section">
        @if (_dataFrame == null)
        {
            <img src="@_testImage" alt="Test Image" width="512" height="512" />
            <div class="spinner-wrapper">
                <div class="spinner-border" role="status" />
            </div>
        }
        else if (IsConnected)
        {
            <!-- Depth Image -->
            int res = 32;
              <div class="depth-image"
                 style="width: 512px; height: 512px; display: grid; grid-template-columns: repeat(32, 1fr); gap: 0px;">

                    @for (int i = 0; i < res; i++)
                    {
                        for (int j = 0; j < res; j++)
                        {
                            int index = i * res + j;
                            var value = _dataFrame[index];
                            var color = GetColorFromValue(value);
                            <div class="pixel" style="background-color: @color; width: 100%; height: 100%; margin 0; padding: 0;"></div>
                        }
                    }

        
            </div>

            <!-- Joystick Section -->
            <table class="joystick-section" @ref="_keyboardInputHandler.keyboardInputRef" tabindex="0" @onkeydown="HandleKeyDown" @onkeyup="stopInputToRobot">
                <div class="joystick-container">
                    <div id="joystickContainer" @onpointerdown="OnPointerDown" @onpointermove="OnPointerMove" @onpointerup="OnPointerUp" @onpointercancel="OnPointerUp">
                        <div id="joystickKnob" style="left: @(_knobPositionX)px; top: @(_knobPositionY)px;" />
                    </div>
                </div>
            </table>
        
    </div>

    <!-- Info Section on the Right Side -->
    <div class="right-section">
        <!-- Connection Status Section -->
        <div class="status-section">
            <h5>SignalR Hub</h5>
            @if (IsConnected)
            {
                <p style="color: green; font-weight: bold;">Connected</p>
            }
            else
            {
                <p style="color: red; font-weight: bold;">Disconnected</p>
            }
        </div>

        <!-- Data Status Section -->
        @if (_avgDistance == null || _measurements == null || _hubUser == null)
        {
            <div class="spinner-wrapper">
                <div class="spinner-border" role="status" />
            </div>
        }
        else if (IsConnected)
        {
            <!-- User and Average Distance Section -->
            <div class="status-section">
                <div class="data-item">
                    <h5>User</h5>
                    <p style="color: magenta;">@_hubUser</p>
                </div>
                <div class="data-item">
                    <h5>Average Distance</h5>
                    <p style="color: magenta;">@_avgDistance mm</p>
                </div>
                <div class="data-item">
                    <h5>Temperature</h5>
                    <p style="color: orangered;">@_measurements[6]  °C</p>
                </div>
            </div>

            <!-- Data Section -->
            <div class="data-section">
                <div class="data-item">
                    <h5>Surge</h5>
                    <p style="color: forestgreen;">@_measurements[0] [m/s²]</p>
                </div>
                <div class="data-item">
                    <h5>Sway</h5>
                    <p style="color: forestgreen;">@_measurements[1] [m/s²]</p>
                </div>
                <div class="data-item">
                    <h5>Heave</h5>
                    <p style="color: forestgreen;">@_measurements[2] [m/s²]</p>
                </div>
                <div class="data-item">
                    <h5>Roll</h5>
                    <p style="color: royalblue;">@_measurements[3] [°/s]</p>
                </div>
                <div class="data-item">
                    <h5>Pitch</h5>
                    <p style="color: royalblue;">@_measurements[4] [°/s]</p>
                </div>
                <div class="data-item">
                    <h5>Yaw</h5>
                    <p style="color: royalblue;">@_measurements[5] [°/s]</p>
                </div>
            </div>
            <div class="status-section">
                <!-- First Speedometer -->
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <div style="height: 185px; transform: rotate(-90deg);">
                        <div style="position: relative; width: 200px; height: 100px; border-top-left-radius: 200px; border-top-right-radius: 200px; background: #e0e0e0; border: 5px solid #333; overflow: hidden; ">
                            <!-- Speedometer Needle -->
                            <div style="position: absolute; width: 4px; height: 90px; background: red; bottom: 0; left: 50%; transform-origin: bottom; transform: rotate(@_reverseSpeedometerAngle); transition: transform 0.3s ease;"></div>

                            <!-- Speed Labels -->
                            <div style="position: absolute; width: 100%; height: 100%; top: 0; display: flex; justify-content: space-between; align-items: flex-end; padding: 0 10px;">
                                <span style="font-size: 12px; font-weight: bold; transform: rotate(90deg);">255</span>
                                <span style="font-size: 12px; font-weight: bold; transform: rotate(90deg);">0</span>
                                <span style="font-size: 12px; font-weight: bold; transform: rotate(90deg);">-255</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second Mirrored Speedometer -->
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <div style="height: 185px; transform: rotate(90deg);">
                        <div style="position: relative; width: 200px; height: 100px; border-top-left-radius: 200px; border-top-right-radius: 200px; background: #e0e0e0; border: 5px solid #333; overflow: hidden;">
                            <!-- Speedometer Needle -->
                            <div style="position: absolute; width: 4px; height: 90px; background: red; bottom: 0; left: 50%; transform-origin: bottom; transform: rotate(@_speedometerAngle); transition: transform 0.3s ease;"></div>

                            <!-- Speed Labels -->
                            <div style="position: absolute; width: 100%; height: 100%; top: 0; display: flex; justify-content: space-between; align-items: flex-end; padding: 0 10px;">
                                <span style="font-size: 12px; font-weight: bold; transform: rotate(-90deg);">-255</span>
                                <span style="font-size: 12px; font-weight: bold; transform: rotate(-90deg);">0</span>
                                <span style="font-size: 12px; font-weight: bold; transform: rotate(-90deg);">255</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-section">
                <div class="data-item">
                    <h5>
                        Key
                    </h5>
                    <p style="color: blueviolet;">
                        @_keyboardInputHandler.pressedKey
                    </p>
                </div>
                <div class="data-item">
                    <h5>
                        Joystick
                    </h5>
                    <p style="color: blueviolet;">
                        @_joystickHandler.joystickDirection
                    </p>
                    <p style="color: darkgreen;">
                        X: @_knobPositionX | Y: @_knobPositionY
                    </p>
                </div>
                <div class="data-item">
                    <h5>
                        Motor
                    </h5>
                    @if (!_didIStoppedRobot)
                    {
                        <p style="color: green;">@_engineAValue | @_engineBValue</p>
                    }
                    else
                    {
                        <p style="color: red; font-weight: bold;">STOP</p>
                    }
                </div>

            </div>

        }

</div>
</div>






@code {
    // Speedometer
    //maksymalna prędkość(po osiągnięciu jakiej wskazówka będzie na maksa przechylona w prawo)
    private float mMaxSpeed = 255;
    private float mMinSpeed = -255;

    private string _speedometerAngle = "-90deg"; // Needle angle (initial position)
    private string _reverseSpeedometerAngle = "90deg";

    private void UpdateSpeed(int powerLE, int powerRE)
    {
        float percentL = (powerLE - mMinSpeed) / (mMaxSpeed - mMinSpeed);
        float percentR = (powerRE - mMinSpeed) / (mMaxSpeed - mMinSpeed);
        // Scale the power from 0-255 to an angle between -90 and 90 degrees
        int newAngleL = (int)(-90 + percentL * 180f);
        int newAngleR = (int)(-90 + percentR * 180f);

        _reverseSpeedometerAngle = $"{(-1) * newAngleL}deg";
        _speedometerAngle = $"{newAngleR}deg";
        StateHasChanged();

    }

    // Debug Function
    private async Task SimulateSpeedUpdate()
    {
        Random rand = new Random();
        while (true)
        {
            int newSpeed = rand.Next((int)mMinSpeed, (int)mMaxSpeed + 1);
            UpdateSpeed(newSpeed, newSpeed);

            await Task.Delay(1000);
        }
    }
    //-----------------------------------------------------------------------------------------------------------------------


    //--------------------------------------------------------------
    private static readonly int joystickCenterX = 275;
    private static readonly int joystickCenterY = 275;
    private static readonly int joystickRadius = 150;
    private readonly string _testImage = debugFunctions.GetExampleImage();

    private JoystickInputHandler _joystickHandler = new JoystickInputHandler(joystickCenterX, joystickCenterY, joystickRadius);
    private CancellationTokenSource? _joystickCancellationTokenSource;


    private HubConnection? _hubConnection;
    private ushort? _avgDistance;
    private string? _hubUser;
    private double[]? _measurements;
    private string? _imageSrc;
    private ushort[]? _dataFrame;

    private keyboardInputHandler _keyboardInputHandler = new keyboardInputHandler();
    private ROBOT_DIRECITON _previousDir = ROBOT_DIRECITON.STOP;

    private int _engineAValue = 0;
    private int _engineBValue = 0;
    private int _knobPositionX = joystickCenterX - joystickRadius;
    private int _knobPositionY = joystickCenterY - joystickRadius;

    //Throttle
    private static DateTime _lastSaveTimeRobotInput = DateTime.MinValue;
    private static readonly TimeSpan ThrottleDurationSendRobotInput = TimeSpan.FromMilliseconds(250.0);

    private bool _didIStoppedRobot = false;

    private async Task StartJoystickMessageLoop()
    {
        _joystickCancellationTokenSource?.Cancel();
        _joystickCancellationTokenSource = new CancellationTokenSource();
        var token = _joystickCancellationTokenSource.Token;

        try
        {
            while (!token.IsCancellationRequested)
            {
                if (_joystickHandler.validInput)
                {
                    sendInputToRobot(_joystickHandler.GetRobotEngineValues());
                    _joystickHandler.increaseCounter();
                }

                await InvokeAsync(StateHasChanged);
                await Task.Delay(10, token);
            }
        }
        catch (TaskCanceledException)
        {
            _joystickHandler.resetCounter();
        }
    }

    private void StopJoystickMessageLoop()
    {
        _joystickCancellationTokenSource?.Cancel();
    }


    private void OnPointerDown(PointerEventArgs e)
    {
        _joystickHandler.OnPointerDown(e.ClientX, e.ClientY);
        _engineAValue = _joystickHandler.GetRobotEngineValues().Item1;
        _engineBValue = _joystickHandler.GetRobotEngineValues().Item2;

        _ = StartJoystickMessageLoop();
    }

    private void OnPointerMove(PointerEventArgs e)
    {
        _joystickHandler.OnPointerMove(e.ClientX, e.ClientY);
        _knobPositionX = (int)_joystickHandler.KnobPosX - joystickRadius;
        _knobPositionY = (int)_joystickHandler.KnobPosY - joystickRadius;
    }

    private void OnPointerUp(PointerEventArgs e)
    {
        _joystickHandler.OnPointerUp();

        stopInputToRobot();
        StopJoystickMessageLoop();
    }

    private async void sendInputToRobot((int, int) engineValues)
    {
        // UpdateSpeed(engineValues.Item1, engineValues.Item2);
        if (IsConnected)
        {
            var currentTime = DateTime.Now;

            if ((currentTime - _lastSaveTimeRobotInput) <= ThrottleDurationSendRobotInput)
            {
                return;
            }
            _didIStoppedRobot = false;
            _lastSaveTimeRobotInput = currentTime;
            _engineAValue = engineValues.Item1;
            _engineBValue = engineValues.Item2;
            UpdateSpeed(_engineAValue, _engineBValue);

            await _hubConnection.SendAsync("SendMovementCommand", "WebClient", engineValues.Item1, engineValues.Item2);
        }
    }

    private async void stopInputToRobot()
    {
        _engineAValue = 0;
        _engineBValue = 0;
        UpdateSpeed(_engineAValue, _engineBValue);

        if (IsConnected)
        {
            _lastSaveTimeRobotInput = DateTime.Now;
            _didIStoppedRobot = true;

            await _hubConnection.SendAsync("SendMovementCommand", "WebClient", 0, 0);
        }
    }


    private void HandleKeyDown(KeyboardEventArgs e)
    {

        _keyboardInputHandler.onKeyDown(e);
        _keyboardInputHandler.amIResetingCounter(_previousDir != _keyboardInputHandler.robotDir);
        _previousDir = _keyboardInputHandler.robotDir;

        _engineAValue = _keyboardInputHandler.GetRobotEngineValues().Item1;
        _engineBValue = _keyboardInputHandler.GetRobotEngineValues().Item2;

        if (_keyboardInputHandler.validInput)
        {
            if ((DateTime.Now - _lastSaveTimeRobotInput) <= ThrottleDurationSendRobotInput)
            {
                return;
            }

            sendInputToRobot(_keyboardInputHandler.GetRobotEngineValues());
        }
    }

    // private void HandleKeyUP(KeyboardEventArgs e)
    // {
    //     _keyboardInputHandler.onKeyUP(e);
    //     _keyboardInputHandler.amIResetingCounter(true);
    //     _engineAValue = _keyboardInputHandler.GetRobotEngineValues().Item1;
    //     _engineBValue = _keyboardInputHandler.GetRobotEngineValues().Item2;
    //     if (_keyboardInputHandler.validInput)
    //     {
    //         sendInputToRobot(_keyboardInputHandler.GetRobotEngineValues());
    //     }
    // }

    // Wychodzi Exception gdy nie ma sztywnych danych, a działa klawiatura bez tego
    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         await _keyboardInputHandler.keyboardInputRef.FocusAsync();
    //     }
    // }


    protected override async Task OnInitializedAsync()
    {
        //------------------------------------------------------------------------------------------------
        //Speedometer
        await base.OnInitializedAsync();
        // _ = SimulateSpeedUpdate(); Start simulating speed updates

        //---------------------------------------DEBUG------------------------------------------------------------
        // _measurements = debugFunctions.GenerateTestMeasurements(2);
        // _avgDistance = debugFunctions.TestDistance;
        // _hubUser = debugFunctions.TestUser;
        // _imageSrc = debugFunctions.GetExampleImage();
        
        // _dataFrame = debugFunctions.GenerateTestDataAscend(32);


        //--------------------------------------------------------------------------------------------------------

        _hubConnection = new HubConnectionBuilder()
             .WithUrl(Navigation.ToAbsoluteUri("/signalhub"))
             .Build();

        _hubConnection.On<string, double[], ushort[], ushort>("ReceiveMatrix", (user, measurements, interpolatedMatrix, avgDistance) =>
        {
            _hubUser = user;
            _measurements = measurements;
            _avgDistance = avgDistance;
            _dataFrame = interpolatedMatrix;

            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();

    }

    public bool IsConnected =>
        _hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }

    private string GetColorFromValue(ushort value)
    {
        double ratio = Math.Clamp(value / (double)4000, 0, 1);
        int scaledRatio = (int)(ratio * 255);

        int r, g, b;

        if (ratio <= 0.25)
        {
            r = 255;
            g = scaledRatio * 4;
            b = 0;
        }
        else if (ratio <= 0.5)
        {
            r = 255 - ((scaledRatio - 64) * 4); 
            g = 255;
            b = 0;
        }
        else if (ratio <= 0.75)
        {
            r = 0; 
            g = 255 - ((scaledRatio - 128) * 4);
            b = (scaledRatio - 128) * 4;
        }
        else
        {
            r = (scaledRatio - 192) * 4;
            g = 0; 
            b = 255; 
        }

        return $"rgb({Math.Clamp(r, 0, 255)}, {Math.Clamp(g, 0, 255)}, {Math.Clamp(b, 0, 255)})";
    }
}
